[dev-packages]

[packages]
django = "*"
pillow = "*"
gunicorn = "*"
psycopg2-binary = "==2.8.6"
Markdown = "*"
django-mdeditor = "*"

[requires]
python_version = "3.8"

[scripts]
run = "python manage.py runserver"
migrate = "python manage.py migrate"
make = "python manage.py makemigrations"
static = "python manage.py collectstatic"
super = "python manage.py createsuperuser"
guni = "gunicorn dbsite.wsgi:application --bind 0.0.0.0:8000"
