h2{
    border-bottom: solid 3px black;
}

.mokuji {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #2c2c2f;
    background: #cde4ff;/*背景色*/
    width: auto;
}

.mokuji p {
    margin: 0; 
    padding: 0;
}